{% extends 'aspmissue/base.html' %}
{% load static %}
{% block content %}

<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control border-0" id="dash-daterange">
                                    <div class="input-group-append">
                                                        <span class="input-group-text bg-blue border-blue text-white">
                                                            <i class="mdi mdi-calendar-range"></i>
                                                        </span>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript: void(0);" class="btn btn-blue btn-sm ml-2">
                                <i class="mdi mdi-autorenew"></i>
                            </a>
                            <a href="javascript: void(0);" class="btn btn-blue btn-sm ml-1">
                                <i class="mdi mdi-filter-variant"></i>
                            </a>
                        </form>
                    </div>
                    <h4 class="page-title">Running Project Name</h4>

                    <form method="post" action="">
                        {% csrf_token%}
                        <div class="position-relative">
                            <input id="myInput"  type="text" name="search_model" value="{{model_name}}"   style="float: left;  background-color: #36404a; color: #909aa5; margin-bottom: 1%; border-radius: 7%;padding: 5px;" />
                            <input class="pt-1" type="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            {% for models in version %}

            <div class="col-md-6 col-xl-3">
                <div class="widget-rounded-circle card-box">
                    <div class="row">
                        <div class="col-3">
                            <div class="avatar-lg rounded-circle bg-primary border-primary border shadow">
                                <i class="fe-heart font-22 avatar-title text-white"></i>
                            </div>
                        </div>
                        <div class="col-9">
                            <button class="btn-outline-success"><a href="{% url 'aspmissue:xcel_view' id=models.modelname_id %}"> Report</a></button>
                            <a href="{% url 'aspmissue:modelDetail' id=models.modelname_id %}">
                                <div class="text-right">

                                    <h3 class="mt-1">{{ models.modelname }}</h3>
                                    <p class="text-muted mb-1 text-truncate"> Supplier Name: {{ models.modelname.supplier }}</p>
                                    <p class="text-muted mb-1 text-truncate"> Running Version:<h6>{{models.software_full_name}}</h6></p>

                                </div>
                            </a>
                        </div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->

            {% endfor %}

        </div>


    </div> <!-- container -->

</div> <!-- content -->
{% endblock %}