{% extends 'aspmissue/base.html' %}
{% load static %}


{% block content %}
<form method="post" id="forminsert">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <span id="success"></span>
                    <div  class="table-responsive">
                        <h2>Issue Summary</h2>
                        <table class="table table-centered mb-0 test " id="grouptable">
                            <thead>
                            <tr>

                                <th>Model Name</th>
                                <th>Software Version</th>
                                <th>Expected Date By Pm</th>
                                <th>Actual Date By Pm</th>
                                <th>FeedBack Expected Date  </th>
                                <th>FeedBack Actual Date  </th>
                                <th>Remaining Issue</th>
                                <th>New Issue</th>
                                <th>Re-open Issue</th>
                                <th>Fixed Issue</th>
                                <th>Existing Issue</th>
                                <th>Is Mp</th>
                                <th>Delay By</th>
                                <th>Delay PM</th>
                                <th>Delay QC</th>
                                <th>New Feedback Delay</th>
                                <th>Remark</th>

                            </tr>
                            </thead>

                            <tbody>
                            {% for summary in issue_summary %}

                            <tr>
                                <td> {{summary.model.modelname  }}</td>
                                <td> {{summary.software.software_full_name}}</td>

                                <td> {{summary.expected_software_date }}</td>
                                <td> {{summary.actual_software_date }}</td>
                                <td> {{summary.feedback_expected_date }}</td>
                                <td> {{summary.feedback_actual_date }}</td>
                                <td> {{summary.Remaining_issue }}</td>
                                <td> {{summary.new_issue }}</td>
                                <td> {{summary.reopen_issue }}</td>
                                <td> {{summary.Fixed_issue }}</td>
                                <td> {{summary.existing_issue }}</td>
                                <td> {{summary.is_mp }}</td>
                                <td> {{summary.delay }}</td>
                                <td> {{summary.delay_by_pm | truncatechars:8 }}</td>
                                <td> {{summary.delay_by_qc | truncatechars:8 }}</td>
                                {% for dif in diff_two_version %}
                                {% if forloop.counter == forloop.parentloop.counter %}
                                {% if forloop.counter == 1 %}
                                <td>00 day </td>
                                {% else %}
                                <td> {{dif | truncatechars:8 }}</td>
                                {% endif %}
                                {% endif %}
                                {% endfor %}

                                <td> {{summary.remarks }}</td>

                                <td> </td>
                                <td> </td>
                                <td class="editbtn" data-id=" " data-type="createdby">  </td>

                            </tr>
                            {% endfor %}
                            <tr><h4>Total time taken by SQC = {{ total_days_Taken_by_SQC }}</h4></tr>
                            <tr><h4> Total time taken by PM = {{ total_days_Taken_by_PM }}</h4></tr>
                            <tr><h4>Total time taken  = {{ total_days_Taken }}</h4></tr>
                            </tbody>
                        </table>

                    </div> <!-- end .table-responsive-->
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div> <!-- end row -->

</form>

<h1  style="text-align: center" > Major Issue</h1>

{% for issue_details in issue_detail %}

<div class="alert alert-warning" style="text-align: center">
    <strong></strong> {{ issue_details.issue }}</div>




{% endfor %}


<div  class="table-responsive">

    <h1  style="text-align: center" > After Sales Issues</h1>


    <table class="table table-centered mb-0 test " id="grouptable">
        <thead>
        <tr>
            <th>Model Name</th>
            <th>Feedback Date</th>
            <th>Source Version</th>
            <th>Target Version</th>
            <th>Type</th>
            <th>Validation</th>
            <th>Issue or Improvement details</th>
            <th>Solved or Improve</th>
            <th>Remarks</th>
        </tr>
        </thead>

        <tbody>
        {% for data in after_sales_issue_analysis %}

        <tr>
            <td> {{data.model_name.modelname  }}</td>
            <td> {{data.feedback_date  }}</td>
            <td> {{data.source_version }}</td>
            <td> {{data.target_version }}</td>
            <td> {{data.type }}</td>
            <td> {{data.validation }}</td>
            <td> {{data.issue_or_improvement_details }}</td>
            <td> {{data.solved_or_improved }}</td>
            <td> {{data.remarks }}</td>

            <td> </td>
            <td> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}

