{% extends 'aspmissue/base.html' %}
{% load static %}

{% block Search %}

<!-- <h4>Data from {{start_date}} to {{end_date}}</h4>-->
<form method="post" action="" class="search-bar p-3">
    {% csrf_token%}
    <div class="position-relative">
        <h4>Start Date</h4>
        <input type="date"  name = "start_date" value = {{start_date}} class="form-control" required  >
        <br>
        <h4>End Date</h4>
        <input type="date" name="end_date"  value = {{end_date}} class="form-control" required >
           <br>
           <br>
           <br>

        <input type="submit" class="form-control">

    </div>
</form>
<!--<button class="btn-outline-success"><a href="{% url 'aspmissue:weekly_report_xcel_view' %}"> Report</a></button>-->


{% endblock %}
{% block WeeklyReport %}
<form method="post" id="forminsert">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <span id="success"></span>
                    <div  class="table-responsive">
                        <input id="myInput"  type="text" placeholder="search..."  style="float: left;  background-color: #36404a; color: #909aa5; margin-bottom: 1%; border-radius: 7%;padding: 5px;" />

                        <table class="table table-centered mb-0 test " id="grouptable">
                            <thead>
                            <tr>

                                <th>Model Name</th>
                                <th>Software Version</th>


                                <th>Expected Date By Pm</th>
                                <th>Actual Date By Pm</th>
                                <th>FeedBack Expected Date  </th>
                                <th>FeedBack Actual Date  </th>
                                <th>Total Issue</th>
                                <th>New Issue</th>

                                <th>Re-open Issue</th>
                                <th>closed Issue</th>
                                <th>Is Mp</th>
                                <th>Delay By</th>
                                <th>Delay PM</th>
                                <th> Delay QC</th>
                                <th> Mejor Issue</th>
                               <th> Remark</th>


                            </tr>
                            </thead>

                            <tbody>
                            {% for summary in issue_summary %}


                            <tr>
                                <td> {{summary.model }}</td>
                                <td> {{summary.software }}</td>

                                <td> {{summary.expected_software_date }}</td>
                                <td> {{summary.actual_software_date }}</td>
                                <td> {{summary.feedback_expected_date }}</td>
                                <td> {{summary.feedback_actual_date }}</td>
                                <td> {{summary.total_issue }}</td>
                                <td> {{summary.new_issue }}</td>
                                <td> {{summary.reopen_issue }}</td>
                                <td> {{summary.closed_issue }}</td>
                                <td> {{summary.is_mp }}</td>
                                <td> {{summary.delay }}</td>
                                <td> {{summary.delay_by_pm }}</td>
                                <td> {{summary.delay_by_qc }}</td>
                                 <td> {{summary.mejor_issue.issue }}</td>
                                <td> {{summary.remarks }}</td>





                                <td> </td>
                                <td> </td>
                                <td class="editbtn" data-id=" " data-type="createdby">  </td>

                            </tr>
                            {% endfor %}


                            </tbody>
                        </table>

                    </div> <!-- end .table-responsive-->
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div> <!-- end row -->

</form>

        </tbody>
    </table>

</div>



{% endblock %}